.section_project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 60px 80px;
    background-color: var(--primary-color);
    color: white;
}

.container_project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 32px;
}

.container_project h1 {
    font-size: 48px;
    line-height: 56px;
    padding: 20px 0;
    margin-bottom: 40px;
    
}

.project_items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.project_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.project_item_info {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items: flex-start;
    text-align: left;
    gap: 28px;
    max-width: 528px;
}

.project_item_number {
    font-size: 48px;
    font-weight: 900;
}

.project_item_title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.project_item_description {
    font-size: 16px;
    line-height: 28px;
    color: var(--text-color);
}

.project_item_middle {
    flex-direction: row-reverse;
}