.section_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 60px 80px;
}
.container_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    width: 100%;
    padding: 0 32px;
}

.form_contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.form_contact input, .form_contact textarea {
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 18px 24px;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--bg-color);
}

.form_contact_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.form_contact_button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form_contact_button:hover {
    background-color: var(--bg-hover-color);
}


.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    margin-left: 80px;
    max-width: 608px;
}

.contact_info span {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    text-align: left;
}
.contact_info_title h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    text-align: left    ;
}

.contact_info_title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: start;
    width: 100%;
    margin-bottom: 20px;
}

.contact_info_details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact_info_details span {
    font-size: 28px;
    line-height: 28px;
    color: var(--primary-color);
    font-weight: 600;
}