.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 102px;
}

.nav_links {
    display: flex;
    gap: 32px;
}
 .nav_links a {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
 }

 .resume_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 153px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
 }