.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 24px 80px;
    background-color: var(--primary-color);
}

.footer_content {
    color: white;
    padding: 0 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg {
    filter: invert(1);
}

.footer_data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    gap: 12px;
}

.footer_data span {
    font-size: 16px;
    font-weight: 600;
}