.section_experience{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 60px 80px;
    background-color: var(--primary-color);
    color: white;
}

.container_experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 32px;
}

.container_experience h1 {
    font-size: 48px;
    line-height: 56px;
    padding: 20px 0;
    margin-bottom: 40px;
    
}

.experiences {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.experience_item {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 30px 24px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.experience_item:hover {
    background-color: var(--bg-hover-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--bg-hover-color);
}

.experience_item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;

}

.experience_item_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.experience_item_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.experience_item_date {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--text-data-color);
}

.experience_item_description {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-data-color);
    text-align: left;
}