.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.login_card {
    padding: 48px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login_form input {
    padding: 12px 16px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--bg-color);
}

.login_button {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login_button:hover {
    background-color: var(--bg-hover-color);
}